app:
  listen:
    host: 0.0.0.0
  baseUrl: http://localhost:7007

backend:
  baseUrl: http://localhost:7007
  listen:
    host: 0.0.0.0
    port: 7007

  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: 5432
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}

auth:
  environment: production
  providers:
    github:
      production:
        clientId: ${AUTH_GITHUB_CLIENT_ID}
        clientSecret: ${AUTH_GITHUB_CLIENT_SECRET}
        signIn:
          resolvers:
            - resolver: usernameMatchingUserEntityName

catalog:
  rules:
    - allow: [User, Group, Component, System, API, Resource, Location]
  locations:
    - type: file
      target: /app/entities/users.yaml
      rules:
        - allow: [User]
    - type: file
      target: /app/entities/groups.yaml
      rules:
        - allow: [Group]
    - type: url
      target: https://github.com/jrbarrio/backstage-software-templates/blob/main/python-app/template.yaml
      rules:
        - allow: [Template]

techdocs:
  builder: "local"
  publisher:
    type: "local"
  generator:
    runIn: local

integrations:
  github:
    - host: github.com
      # This is a Personal Access Token or PAT from GitHub. You can find out how to generate this token, and more information
      # about setting up the GitHub integration here: https://backstage.io/docs/integrations/github/locations#configuration
      token: ${GITHUB_TOKEN}
